.cover-container {
  position: absolute;
  transform: translate(25%, 15%);
}

@media(max-width: 768px) {
  .cover-container {
    transform: translate(15%, 15%)
  }
}

@media(max-width: 525px) {
  .cover-container {
    transform: translate(15%, 0);
    top: 25%;
  }
  .date {
    font-size: 48px !important;
  }
  .text {
    max-width: 250px !important;
  }
}

@media(max-width: 425px) {
  .date {
    font-size: 36px !important;
    margin-bottom: 0;
  }
  .text {
    max-width: 250px !important;
  }
}


@media(max-width: 320px) {
  .date {
    font-size: 32px !important;
    margin-bottom: 0;
  }
  .text {
    max-width: 200px !important;
  }
}