.cover-container {
  position: absolute;
  transform: translate(25%, 15%);
}

@media(max-width: 768px) {
  .cover-container {
    transform: translate(15%, 15%)
  }
}

@media(max-width: 500px) {
  .date {
    font-size: 36px !important;
  }
  .text {
    max-width: 250px !important;
  }
}